<!DOCTYPE html>
<html lang="es">
  <head>
    {{>head }}
    <title> {{entry.title}} - Elon's blog!</title>
  </head>
  <body>
    <div class="container">
      <header>
        <nav class="navbar sticky-top">
          <h1 class="fw-bold">
            <a class="text-decoration-none link-dark" href="/blog">Elon's blog!</a>
          </h1>
        </nav>
      </header>
      <main>
        <section class="col d-flex justify-content-center">
          <article class="">
            <img
              src={{entry.img}}
              alt="..."
              class="img-blog"
            />
            <div class="blog-container">
              <div class="blog-entry">
                <h2> {{entry.title}} </h2>
                <p class="">
                  {{entry.p1}}
                </p>
                <p>
                  {{entry.p2}}
                </p>
              </div>
            </div>
          </article>
        </section>
      </div>
         {{> footer }}
      </main>
  </body>
</html>
